@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        @apply
            text-white
            bg-primary
            font-poppins
            overflow-x-hidden
    }
}

@layer utilities {
    .container{
        @apply
            mx-auto
            px-4
            max-w-screen-sm
            sm:max-w-screen-md
            md:max-w-screen-lg
            lg:max-w-screen-xl
            xl:max-w-screen-xl
    }
}

@layer components {
    .navbar-btn{
        @apply 
            py-2
            px-4
            flex
            items-center
            max-lg:hidden
            uppercase
            before:content-['']
            before:w-4
            before:h-4
            before:rounded-full
            before:mr-3
            before:bg-brand
    }

    .mobile-sidebar{
        @apply
            flex
            lg:gap-4
            lg:items-center
            max-lg:fixed
            max-lg:-right-full
            max-lg:top-0
            max-lg:bg-[rgba(0,0,0,.9)]
            max-lg:backdrop-blur-sm
            max-lg:h-full
            max-lg:flex-col
            max-lg:z-50
            max-lg:w-60
            max-lg:justify-center
            max-lg:items-start
            max-lg:p-4
            max-lg:transition-all
    }

    .mobile-sidebar a{
        @apply
            max-lg:w-full
            max-lg:py-3
    }
    
    .mobile-sidebar.sidebar-show{
        @apply
            max-lg:right-0
    }
    
    .mobile-sidebar .sidebar-close{
        @apply
            lg:hidden
            max-lg:absolute
            max-lg:top-4
            max-lg:right-3
            max-lg:px-4
            max-lg:py-3
            max-lg:cursor-pointer
            max-lg:text-white
    }
    
    .sidebar-backdrop{
        @apply
            lg:hidden
            max-lg:bg-[rgba(0,0,0,.45)]
            max-lg:fixed
            max-lg:top-0
            max-lg:left-0
            max-lg:right-0
            max-lg:w-[100vw]
            max-lg:h-[100vh]
            max-lg:z-40
            max-lg:transition-all
            max-lg:opacity-0
            max-lg:pointer-events-none
    }
    
    .mobile-sidebar.sidebar-show + .sidebar-backdrop{
        @apply
            lg:hidden
            max-lg:pointer-events-auto
            max-lg:opacity-100
    }

    .table-title{
        @apply
            px-4
            py-4
            font-medium
            text-left
            text-lg
            border-l
            border-zinc-800
            border-t-0
            cursor-pointer
    }

    .table-title:nth-of-type(1){
        @apply
            border-0
    }

    .table-title-inner{
        @apply
            flex
            items-center
            gap-2
    }

    .table-item{
        @apply
            max-sm:flex
            max-sm:flex-col
            max-sm:py-2
    }

    .table-item:not(:nth-last-of-type(1)){
        @apply
            border-b
            max-sm:border
            border-zinc-800
    }

    .table-item .table-item-col{
        @apply
            flex
            flex-col
            px-6
            py-4
            sm:table-cell
            sm:py-8
            lg:table-cell
    }

    .table-item .table-item-col[data-label]{
        @apply
            before:content-[attr(data-label)]
            sm:before:content-none
            before:text-xs
            before:uppercase
            before:text-zinc-400
            before:block
            before:mb-2
    }

    .asc-icon{
        @apply
            relative
            inline-block
            before:content-['']
            before:absolute
            before:left-[2px]
            before:w-[8px]
            before:h-[20px]
            before:bg-primary
            before:opacity-70
    }

    .desc-icon{
        @apply
            relative
            inline-block
            before:content-['']
            before:absolute
            before:right-[2px]
            before:w-[8px]
            before:h-[20px]
            before:bg-primary
            before:opacity-70
    }

    .pagination-prev-btn,
    .pagination-next-btn{
        @apply
            px-3
            py-2
            text-sm
            border
            border-zinc-700
            bg-zinc-800
            disabled:opacity-40
            disabled:cursor-not-allowed
            disabled:border-none
            rounded-lg
    }
    
    .pagination-btn{
        @apply
            px-5
            py-2
            rounded-lg
            border
            border-zinc-800
            hover:bg-zinc-900
    }

    .pagination-btn.active{
        @apply
            bg-zinc-800
    }

    .rows-select{
        @apply
            bg-zinc-800
            text-sm 
            border
            border-zinc-700
            p-2
            rounded-lg
            cursor-pointer
            outline-none
    }
}